body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(135deg, #ff007f, #00bfff); /* Sfondo più accattivante */
    color: white;
  }
  
  div.my-carousel-container {
    min-height: 700px;
    min-width: 800px;
    max-width: 1350px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Aggiunta di ombreggiatura */
    background-color: #222; /* Sfondo scuro per far risaltare le immagini */
  }
  
  div.my-carousel-images {
    height: 540px;
    position: relative;
  }
  
  div.my-carousel-item {
    height: 100%;
    position: relative;
  }
  
  div.my-carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  div.item-description {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    text-align: end;
    text-shadow: 2px 2px 2px black;
  }
  
  div.my-thumbnails {
    flex-basis: 20%;
    height: 160px;
    display: flex;
    overflow-x: auto;
    border-top: 2px solid white;
  }
  
  div.my-thumbnails .my-thumbnail {
    height: 160px;
    width: calc(100% / 5);
    filter: brightness(0.5);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  div.my-thumbnails .my-thumbnail.active {
    filter: brightness(1);
    border: 2px solid #ff007f;
    transform: scale(1.1); /* Ingrandire leggermente il thumbnail attivo */
  }
  
  div.my-previous,
  div.my-next {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  div.my-previous {
    left: 1rem;
  }
  
  div.my-next {
    right: 1rem;
  }
  
  div.my-previous span::after {
    content: "\f104"; /* Freccia indietro Font Awesome */
    font-family: "Font Awesome 5 Free";
  }
  
  div.my-next span::after {
    content: "\f105"; /* Freccia avanti Font Awesome */
    font-family: "Font Awesome 5 Free";
  }